.filterForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.filtersTitle {
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
}

.filterBtn {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f8f8f8;
  cursor: pointer;
}

.filterBtn.active {
  border-color: #e74c3c;
  background: #ffecec;
  font-weight: bold;
}

.dropdown {
  padding: 8px 30px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 100%;
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.actions {
  display: flex;
  gap: 20px;
}
