.filterForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.locationFilterWrapper {
  margin-bottom: 20px;
}

.locationFilterWrapper {
}

.locationFilterWrapper select {
  height: 56px;
}

.locationFilterWrapper select {
  background-color: #f7f7f7;
}

.filtersSectionTitle {
  font-size: 16px;
  color: #475467;
  font-weight: 400;
}

.filtersTitle {
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
}

.filterBtn {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 112px;
  justify-content: center;
}

.filterBtn.active {
  border-color: #e74c3c;
  background: #ffecec;
  font-weight: bold;
}

.dropdown {
  padding: 8px 30px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 100%;
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.vehicleTypeIcon {
  width: 28px;
  height: 28px;
}

.actions {
  display: flex;
  gap: 20px;
}
