.movieCastWrapper ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.reviewItemsWrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentText {
  color: #475467;
}
