.campersListWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cardWrapper {
  display: flex;
  gap: 20px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .cardWrapper {
    flex-direction: column;
  }
}

.cardLeftSection {
  overflow: hidden;
  width: 292;
  height: 320px;
}

.cardFeaturedImg {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardRightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 24px;
}

.cardContentHead {
  display: flex;
  gap: 16px;
}

.cardName {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.cardDescription {
  color: #475467;
}

.cardCamperOptions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.cardCamperOptions p {
  background-color: #f2f4f7;
  border-radius: 50px;
  padding: 12px;
}
