.movieDetailsWrapper {
  display: flex;
  gap: 20px;
  box-shadow: 10px 5px 5px grey;
  padding: 20px;
  margin-bottom: 20px;
}

.movieDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.goBackBtn {
  padding: 10px 15px;
  border: none;
  background-color: #e44848;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.goBackBtn:hover {
  background-color: #d84343;
}
