.background {
  background-image: url('../../../public/images/Picture-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
}

.pageContent {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  color: white;
}

@media (max-width: 600px) {
  .pageContent {
    margin-left: 10px;
  }
}

.hpTitle {
  font-size: 48px;
}

.hpDescription {
  font-size: 24px;
}
