.errorPageWrapper {
  width: 100%;
  height: 600px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3.2rem;
  background-image: url('../../../public/images/error-404.png');
  background-size: 50% auto;
}
